body {
	background-image: url("https://i.pinimg.com/originals/1c/b3/fd/1cb3fd16aa305a8c8b1826490822a2d8.jpg");
	width: 100%;
	height: auto;
}

.photo {
	display: inline-flex;
	width: 500px;
	height: auto;
	padding-left: 20px;
	box-shadow: 40px 40px 40px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.photo:hover {
	transform: scale(1.2);
	margin-left: 40px;
}

.test:hover {
	transform: scale(1.5);
	margin-left: 0px;
}

.card {
	box-shadow: 10px 10px 40px;
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	display: inline-flex;	
	margin-left: 20px;
	margin-top: 10px;
	width: 445px;
	border-radius: 30px;
}

.card:hover {
	box-shadow: 20px 20px 20px;
	transform: scale(1.05);
}
audio {
	width: 270px;
}

.card-img {
	padding-left: 5px;
	padding-top: 10px;
	border-top-left-radius: 30px;
	border-radius: 80px;
	max-width: 100%;
	height: auto;
}

.text {
	font-family:  "Helvetica Neue", Arial, sans-serif;
	font-size: 2rem;
	color: white;
	text-align: center;
	padding-top: 30px;
}